{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">To Do</a>
      </div>
    </nav>
    {% comment %} ------------------ {% endcomment %}
    <div class="container">
      <div class="row mt-4">
        <div class="col">
          <h2>Add Item</h2>
          <form action="add_todo/" method="post" class="form-inline">
            {% csrf_token %}
            <input
              type="text"
              required
              name="content"
              class="form-control mb-4 mr-sm-2"
              placeholder="type here..."
            />
            <button type="submit" class="btn btn-primary mb-4">Submit</button>
          </form>
        </div>
      </div>
    </div>

    {% comment %} ------------ {% endcomment %}
    <div class="container">
      <div class="row mt-4">
        <div class="col">
          <ul class="list-group">
            {% for todo_item in todo_items %}
            <li class="list-group-item mb-2">
              <div>{{ todo_item.text }}</div>
            </li>
            <div class='mb-2'>
                <form action="delete_todo/{{todo_item.id}}/" action="post">
                  <button type="submit" class="btn btn-sm btn-danger">
                    Delete
                  </button>
                </form>
              </div>

            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
